// Third Section

.fourth-main-section{
    background-color: $other-green;
    width: 100%vh;
    height: 100vh;
    padding-top:30px;
    padding-left: 30px;
}

.fourth-main-section .fourth-section-header, p{
    color: $primary-black;
    font-family: 'Inter', sans-serif;
    padding-left: 30px;
}

.fourth-section-header{
    text-align: center;
    padding-top: 20px;
}

.fourth-section-video {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}
.fourth_caption_video{
    text-align: center;
    color: $primary-black;
    font-family: 'Inter', sans-serif;
    padding-top: 2%;
}
.fourth_caption_video_sub{
    line-height: 2.5;
}
