// 4th Section

.fifth-main-div-section{
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    color: $primary-black;
    padding-right: 20px;
}

.fifth-1st-pic{
    height: 70%vh;
    padding-top: 40px;
    padding-left: 20px;
    border-radius: 5px;
    max-width: 600px;
    height: auto;
}

.text-main-div h1{
    justify-content: right;
    padding-top: 40px;
    padding-left: 50px;
}
.text-main-div button{
    background-color: $secondary-green;
    display: block;
    margin: 0 auto;
    width: 30%;;
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    color: $primary-black;
    font-weight: map-get($font-weight, "bold");
    font-size: $button-menu;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: none;
}
.text-sub
{
    text-align: justify;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.fifth-section-list{
    padding-left: 50px;
    padding-top: 20px;
}
.fifth-section-list p{
    padding-top: 10px;
    padding-right: 20px;
    text-align: justify;
}
.fifth-section-list i{
    font-size: 15px;
    color: $primary-gray;
}
.list-div{
    font-family: 'Inter', sans-serif;
    color: $primary-gray;
    font-size: 12px;
    padding-left: 10px;
}
